antlr4-python3-runtime==4.8
cffi==1.14.5
Cython==0.29.23
dataclasses==0.6
fairseq==0.10.2
hydra-core==1.1.0
importlib-resources==5.2.0
numpy==1.21.0
omegaconf==2.1.0
portalocker==2.0.0
pycparser==2.20
PyYAML==5.4.1
regex==2021.7.6
sacrebleu==1.5.1
sentencepiece==0.1.96
torch==1.8.1+cu101
tqdm==4.61.2
typing-extensions==3.10.0.0
zipp==3.5.0
